:root {
  --bg: #404040;
  --info-bg: #808080;
  --help-howie: #f6f4f5;
  --help-julia: #e8aa6f;
  --help-both: hsl(29, 72%, 87%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Space Mono", monospace;
}

canvas {
  background-color: black;
  box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.5);
}

dialog {
  background-color: var(--info-bg);
  border-radius: 10px;
  box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.5);
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

#helpWrapper {
  display: grid;
  grid-template-rows: 30px 1fr 30px;
}

#helpTitle {
  font-weight: bold;
  text-align: center;
}

#helpContents {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

#helpText {
  width: 450px;
  position: relative;
}

.helpImg {
  height: 500px;
}

.helpBoth {
  background-color: var(--help-both);
  margin-bottom: 5px;
  padding: 7px;
}

.helpBoth::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid var(--help-both);
  border-bottom: 10px solid var(--help-both);
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  left: -19px;
}

.helpBoth::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--help-both);
  border-top: 10px solid transparent;
  border-left: 10px solid var(--help-both);
  left: 450px;
}

.helpHowie {
  background-color: var(--help-howie);
  margin-bottom: 5px;
  padding: 7px;
}

.helpHowie::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid var(--help-howie);
  border-bottom: 10px solid var(--help-howie);
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  left: -19px;
}

.helpJulia {
  background-color: var(--help-julia);
  margin-bottom: 5px;
  padding: 7px;
}

.helpJulia::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--help-julia);
  border-top: 10px solid transparent;
  border-left: 10px solid var(--help-julia);
  left: 450px;
}

.helpPS {
  filter: opacity(0.1);
  font-size: 12px;
}

#resetButtonsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

#infoContainer {
  background-color: var(--info-bg);
  width: 28em;
  outline: 1px solid black;
  box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.5);
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 8px;
}

#infoTitle {
  font-weight: bold;
}

#infoApprove {
  text-align: right;
  font-size: xx-small;
  filter: opacity(0.2);
}

#infoJuliaStatus {
  width: 100%;
  height: 1.5em;
  background-color: var(--help-both);
}

#infoJuliaProgress {
  background-color: var(--help-julia);
  width: 0%;
  height: 1.5em;
  color: white;
  text-shadow: -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black;
  letter-spacing: 1px;
}

#infoMandelStatus {
  width: 100%;
  height: 1.5em;
  background-color: var(--help-both);
}

#infoMandelProgress {
  background-color: var(--help-howie);
  width: 0%;
  height: 1.5em;
  color: white;
  text-shadow: -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black;
  letter-spacing: 1px;
}

.hidden {
  display: none;
}
