:root {
  --bg: #404040;
  --info-bg: #808080;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Space Mono", monospace;
}

canvas {
  background-color: black;
}

dialog {
  background-color: var(--info-bg);
  border-radius: 10px;
  box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.5);
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

#resetButtonsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}
